/* || Root Colors */
:root {
  --header-admin-bg-color: #ffffff;
  --header-admin-border-color: #dddddd;
  --header-admin-acent-border-color: #6a4029;
  --header-font-color: #4f5665;
  --header-admin-btn-font-color: #0b132a;
  --header-admin-btn-logout: #6a4029;
  --header-second-font-color: #ffffff;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* || Header */
.header {
  /* border: 1px solid darkblue; */
  height: 5rem;
  border-bottom: 1px solid var(--header-admin-border-color);
}

.header__logo {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header__logo__image img {
  /* border: 1px solid darkblue; */
  width: 24px;
}

.header__logo__init p {
  /* border:1px solid darkblue; */
  position: relative;
  font-size: 20px;
  margin-bottom: 0;
}

.content-navbar {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.content-navbar li {
  list-style: none;
  /* border: 1px solid darkblue; */
  width: 87.1875px;
  text-align: center;
}

.navbar a {
  width: 87.1875px;
  /* border: 1px solid darkorange; */
  text-decoration: none;
  color: var(--header-font-color);
}

.active-style-nav {
  color: #6a4029 !important;
  font-weight: 700;
  border-bottom: 3px solid var(--home-acent-border-color);
}

.chat,
.avatar {
  cursor: pointer;
}

.chat img {
  width: 24px;
  height: 24px;
}

.search-section {
  /* border: 1px solid darkblue; */
  width: 168px;
  display: flex;
  justify-content: flex-end;
}

.search {
  position: relative;
  display: flex;
  gap: 0.5rem;
  border-radius: 30px;
  background: var(--home-search-color);
  padding: 0.5rem;
  cursor: pointer;
  width: fit-content;
}

.search-input {
  display: none;
}

.search-input-active {
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  max-width: 8rem;
  font-size: 12px;
}

.search img {
  width: 14px;
}

.btn-logout {
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  background: var(--header-admin-btn-logout);
  display: flex;
  cursor: pointer;
  width: 78.25px;
  justify-content: center;
}

.btn-logout-init {
  color: var(--header-second-font-color);
  margin-bottom: 0;
}

/* || Loader button */
.loader-btn {
  color: var(--header-second-font-color);
  width: 18px;
  height: 18px;
}

/* || Responsive */

@media all and (max-width: 480px) {
  .search-section {
    /* border: 1px solid darkgoldenrod; */
    width: 128px;
  }
  .search {
    border-radius: 8px;
  }

  .search-input-active {
    /* border: 1px solid darkgreen; */
    width: 5rem;
  }

  .chat img {
    width: 18px;
    height: 18px;
  }

  .header {
    position: relative;
    justify-content: space-between !important;
    padding: 0 1rem;
    /* border: 1px solid red; */
  }

  .navbar {
    position: absolute;
    justify-content: center;
    top: 4.6rem;
    background: var(--header-admin-bg-color);
    padding: 0.5rem;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border-bottom: 3px solid var(--header-admin-acent-border-color);
  }

  .navbar > a {
    text-decoration: none;
    color: var(--header-font-color);
  }
}
