/* || Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* || Root Colors */
:root {
  --cm-bg-color: #FFFFFF;
  --cm-btn-color: #FFBA33;
  --cm-font-color: #6A4029;
  --cm-font-second-color: #0B132A;
  --cm-font-third-color: #4F5665;
}

.member-cards {
  /* border: 1px solid darkblue; */
  position: absolute;
  background: var(--cm-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  width: 78vw;
  margin-left: 10rem;
  z-index: 1;
  top: 57rem;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67)
}

.member-cards span h3{
  /* border: 1px solid darkgoldenrod; */
  font-size: 35px;
  color: var(--cm-font-second-color);
  max-width: 20rem;
}

.member-cards span p{
  /* border: 1px solid darkred; */
  color: var(--cm-font-third-color)
}

.btn-create-member {
  /* border: 1px solid darkblue; */
  border: none;
  background: var(--cm-btn-color);
  height: 3.75rem;
  width: 15.625rem;
  border-radius: 10px;
  font-weight: 700;
  color: var(--cm-font-color);
  filter: drop-shadow(0px 6px 20px rgba(255, 186, 51, 0.4));
}

/* .password-toogle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
} */

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {

  .member-cards {
    position: absolute;
    width: 78vw;
    margin-left: 5.5rem;
    top: 45.5rem;
    padding: 1.5rem
  }

  .member-cards span h3 {
    font-size: 24px;
  }

  /* .member-cards span p {

  } */

  .btn-create-member {
    height: 2.75rem;
    width: 10.625rem;
  }

}

@media all and (min-width: 480px) and (max-width: 768px) {

  .member-cards {
    position: absolute;
    width: 78vw;
    margin-left: 5rem;
    top: 45.5rem;
    padding: 1.5rem;
  }

  .member-cards span h3 {
    font-size: 24px;
  }

  /* .member-cards span p {

  } */

  .btn-create-member {
    height: 2.75rem;
    width: 10.625rem;
  }

}

@media all and (max-width: 480px) {
  .member-cards {
    position: absolute;
    width: 78vw;
    margin-left: 2.6rem;
    top: 46.5rem;
    padding: 1rem;
  }

  .member-cards span h3 {
    font-size: 16px;
  }

  .member-cards span p {
    font-size: 12px;
  }

  .btn-create-member {
    height: 2.75rem;
    width: 10.625rem;
  }

}
