/* || Root Colors */
:root {
  --pad-btn-color: #6a4029;
  --pad-bg-color: #ffffff;
  --pad-font-color: #ffffff;
  --pad-font-third-color: #4f5665;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.main {
  /* border: 1px solid red; */
  background: url(../assets/images/payment-and-delivery-bg.png) no-repeat center
    fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  min-height: 100vh;
}

.title {
  /* border: 1px solid darkblue; */
  padding: 0 24rem;
}

.title h3 {
  /* border: 1px solid darkblue; */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  color: var(--pad-font-color);
  max-width: 13.75rem;
  font-size: 24px;
}

.sides {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24rem;
  flex-wrap: wrap;
}

.left-side {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.order-summary {
  /* border: 1px solid darkgoldenrod; */
  background: var(--pad-bg-color);
  padding: 2.5rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  width: fit-content;
  /* height: 473.734px; */
}

.cart-empty-section {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  justify-content: center;
}

.cart-empty-section__font {
  /* border: 1px solid darkblue; */
  margin-bottom: 0;
  color: #dd5353;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(165, 165, 165, 0.8);
}

.order-summary h3 {
  font-size: 24px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.right-side {
  /* border: 1px solid darkmagenta; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-side__address-details {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.address-detail-top {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.address-detail-top p {
  margin-bottom: 0;
  color: var(--pad-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  font-family: "Poppins", sans-serif;
}

.address-btn-edit {
  cursor: pointer;
}

.right-side__payment-method {
  /* border: 1px solid darkred; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.right-side__payment-method__title p {
  margin-bottom: 0;
  color: var(--pad-font-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
  font-family: "Poppins", sans-serif;
}

.confirm-and-pay {
  /* border: 1px solid darkorange; */
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: var(--pad-font-color);
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 14px;
  background: var(--pad-btn-color);
  font-weight: 700;
}

.mark-as-done {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: no-drop;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--pad-font-third-color);
  background-color: #f0f0f0;
}

.mark-as-done-active {
  /* border: 1px solid darkorange; */
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: var(--pad-font-color);
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 14px;
  background: var(--pad-btn-color);
  font-weight: 700;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .title {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title h3 {
    /* border: 1px solid darkblue; */
    text-align: center;
    font-size: 32px;
    max-width: 25.75rem;
  }

  .sides {
    padding: 0;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 2rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .title {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title h3 {
    text-align: center;
    max-width: 25.75rem;
  }

  .sides {
    /* border: 1px solid darkblue; */
    padding: 0;
    justify-content: center;
    padding: 1rem 1rem;
    gap: 2rem;
  }
}

@media all and (max-width: 480px) {
  .title {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .title h3 {
    text-align: center;
  }

  .sides {
    padding: 0;
    justify-content: center;
    padding: 0 1rem;
    gap: 2rem;
  }
}
