/* || Root Colors */
:root {
  --product-font-color: #6a4029;
  --product-font-third-color: #afb5c0;
}

.main__products__header {
  position: relative;
  padding: 1rem 4.5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  z-index: 1;
}

.btn-style {
  border: none;
  position: relative;
  cursor: pointer;
  color: var(--product-font-third-color);
  width: 136.95px;
  outline: none;
  background: none;
}

.main__products__header > button:focus {
  color: var(--product-font-color);
  font-weight: 700;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .main__products__header {
    justify-content: center;
  }

  .main__products__header button {
    text-align: center;
    margin: 0;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main__products__header button {
    text-align: center;
    margin: 0;
  }
}

@media all and (max-width: 480px) {
  .main__products__header {
    padding: 0;
    margin: 0.5rem 0;
    /* flex-wrap: wrap; */
    justify-content: center;
  }

  .main__products__header button {
    list-style: none;
    text-align: left;
    width: fit-content;
    margin: 0.5rem;
    font-size: 12px;
  }
}
