/* || Root Colors */
:root {
  --fp-btn-second-color: #ffba33;
  --fp-btn-color: #6a4029;
  --fp-font-second-color: #9F9F9F;
  --fp-font-color: #ffffff;

}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* || Main */
.main {
  /* border: 1px solid darkblue; */
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../assets/images/coffee.png) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  padding: 8rem;
  gap: 5rem;
}

.title{
  /* border: 1px solid darkmagenta; */
  display: flex;
  flex-direction: column;
}

.title h3 {
  /* border: 1px solid darkcyan; */
  text-align: center;
  color: var(--fp-font-color);
  font-weight: 700;
  font-size: 36px
}

.title p {
  /* border: 1px solid darkorchid; */
  text-align: center;
  color: var(--fp-font-color);
  font-weight: 700;
}

.send-component {
  /* border: 1px solid darkorange; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.send-component input[type=text] {
  /* border: 1px solid darkblue; */
  border: none;
  outline: none;
  width: 53.125rem;
  height: 5.0625rem;
  border-radius: 16px;
  padding: 0 2rem;
  font-size: 18px;
  color: var(--fp-font-second-color);
}

.send-btn {
  /* border: 1px solid darkgreen; */
  border: none;
  width: 10.8125rem;
  height: 5.0625rem;
  border-radius: 16px;
  font-size: 18px;
  color: var(--fp-btn-color);
  font-weight: 700;
  background: var(--fp-btn-second-color);
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
}

.resend-component {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.resend-btn {
  /* border: 1px solid darkgreen; */
  border: none;
  width: 18.625rem;
  height: 5.0625rem;
  border-radius: 16px;
  background: var(--fp-btn-color);
  color: var(--fp-font-color);
  font-weight: 700;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.46);
}

.resend-component__title {
  /* border: 1px solid darkgoldenrod; */
  max-width: 20.6875rem;
  font-weight: 700;
  color: var(--fp-font-color);
  text-align: center;
}

.resend-component__count-down {
  /* border: 1px solid red; */
  font-weight: 700;
  color: var(--fp-font-color);
  text-align: center;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .send-btn {
    width: 14.8125rem;
  }
  
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .send-btn {
    width: 17.8125rem;
  }

  .resend-btn {
    width: 15.625rem;
    height: 5.0625rem;
  }
}

@media all and (max-width: 480px) {
  .main {
    padding: 2rem 0.5rem;
  }
  .title h3 {
      font-size: 24px;
  }
  .title p {
    font-size: 12px;
  }

  .send-component {
    gap: 1rem;
  }

  .send-component input[type=text] {
    width: 12.5rem;
    height: 3.5rem;
    border-radius: 10px;
  }

  .send-btn {
    width: 5.5rem;
    height: 3.5rem;
    border-radius: 10px;
  }

  .resend-btn {
    width: 8rem;
    height: 3.5rem;
    border-radius: 10px;
  }
}