/* || Root Colors */
:root {
  --header-bg-color: #ffffff;
  --header-border-color: #dddddd;
  --header-acent-border-color: #6a4029;
  --header-font-color: #4f5665;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* || Header */
.header {
  /* border: 1px solid red; */
  height: 5rem;
  border-bottom: 1px solid var(--header-border-color);
}

.header__logo {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header__logo__image img {
  /* border: 1px solid darkblue; */
  width: 24px;
}

.header__logo__init p {
  position: relative;
  /* border:1px solid darkblue; */
  font-size: 20px;
  margin-bottom: 0;
}

.content-navbar {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.content-navbar li {
  list-style: none;
  /* border: 1px solid darkblue; */
  width: 87.1875px;
  text-align: center;
}

.navbar a {
  /* border: 1px solid darkorange; */
  text-decoration: none;
  color: var(--header-font-color);
}

.navbar a:hover {
  color: var(--home-font-fourth-color);
  font-weight: 700;
}
/* 
.search, .chat, .avatar {
  cursor: pointer;
} */

/* .search img {
  width: 30px;
} */

.chat,
.avatar {
  cursor: pointer;
}

.search {
  /* border: 1px solid darkred; */
  position: relative;
  display: flex;
  gap: 0.5rem;
  border-radius: 30px;
  background: var(--home-search-color);
  padding: 0.5rem 0.5rem;
}

.search input[type="text"] {
  /* border: 1px solid darkblue; */
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  max-width: 10rem;
}

/* .search input[type="text"] {
  display: none;
} */

.search img {
  /* border: 1px solid darkblue; */
  width: 14px;
}

.avatar {
  border: 3px solid var(--acent-border-color);
  border-radius: 100%;
  filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
  z-index: 1;
}
.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

/* || Responsive */

@media all and (max-width: 480px) {
  .search input[type="text"] {
    /* border: 1px solid darkblue; */
    display: none;
  }

  .search {
    padding: 0.6rem;
  }

  .search img {
    /* border: 1px solid darkblue; */
    width: 14px;
  }

  .header {
    position: relative;
    justify-content: space-between !important;
    padding: 0 1rem;
  }

  .navbar {
    position: absolute;
    justify-content: center;
    top: 4.6rem;
    background: var(--header-bg-color);
    padding: 0.5rem;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border-bottom: 3px solid var(--header-acent-border-color);
  }

  .navbar > a {
    /* border: 1px solid darkgoldenrod; */
    text-decoration: none;
    color: var(--header-font-color);
  }
}
