/* || Root Colors */
:root {
  --home-bg-color: #ffffff;
  --home-btn-color: #ffba33;
  --home-btn-second-color: #6a4029;
  --home-font-color: #0b132a;
  --home-font-second-color: #4f5665;
  --home-font-third-color: #ffffff;
  --home-search-color: #efeeee;
  --home-border-color: #dddddd;
  --informations-cards-border-color: #eeeff2;
  --home-acent-border-color: #6a4029;
  --home-font-fourth-color: #6a4029;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* || Header */
.header {
  display: relative;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header__logo__image img {
  width: 40px;
}

.header__logo__init {
  position: relative;
}

.header__logo__init p {
  position: relative;
  font-size: 20px;
  margin-bottom: 0;
}

.navbar {
  font-size: 16px;
}

.navbar .content-navbar {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar a {
  text-decoration: none;
  color: var(--header-font-color);
}

.content-navbar > li {
  list-style: none;
  position: relative;
  text-decoration: none;
  color: var(--home-font-second-color);
  margin: auto 1rem;
}

.active-style-nav {
  color: #6a4029 !important;
  font-weight: 700;
  border-bottom: 3px solid var(--home-acent-border-color);
}

.content-navbar-text__disallowed {
  cursor: no-drop;
  text-decoration: none;
  color: var(--home-font-second-color);
}

.sign-in-up {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 16px;
}

.sign-in button,
.sign-up button {
  border: none;
  background: none;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.sign-up {
  background: var(--home-btn-color);
  border-radius: 40px;
  padding: 0 1rem 0 1rem;
}

/* || Main */
.main {
  position: relative;
}

/* || Introduction */
.introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../assets/images/coffee.png) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}

.introduction__text {
  position: absolute;
  top: 10rem;
  color: var(--home-font-third-color);
  margin-left: 9rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.introduction__text h1 {
  font-size: 50px;
  max-width: 40rem;
}

.introduction__text p {
  max-width: 32rem;
  text-align: justify;
}

.informations-cards {
  position: relative;
  background: var(--home-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  width: 78vw;
  margin-left: 10rem;
  z-index: 1;
  bottom: 6rem;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

.informations-cards .staff {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-right: 2px solid var(--informations-cards-border-color);
}

.informations-cards .stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-right: 2px solid var(--informations-cards-border-color);
}

.informations-cards .customers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.qty {
  font-weight: 700;
}

.btn-start {
  background: var(--home-btn-color);
  position: relative;
  width: fit-content;
  top: 24rem;
  margin-left: 9rem;
  border-radius: 4px;
  font-weight: 700;
}

.btn-start button {
  border: none;
  background: none;
  padding: 0.8rem 2.5rem;
  font-weight: 500;
  color: var(--home-btn-second-color);
}

.search {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  border-radius: 30px;
  background: var(--home-search-color);
  top: 2rem;
  right: 9rem;
  padding: 0.9rem 1rem;
}

.search input[type="text"] {
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
}

.search img {
  width: 14px;
}

/* || Branding */
.branding {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 8rem;
}

.branding__left-side img {
  position: relative;
  width: 573px;
}

.branding__right-side {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.branding__right-side h3 {
  font-weight: 500;
  max-width: 28rem;
  font-size: 35px;
}

.branding__right-side p {
  font-weight: 400;
  max-width: 26rem;
}

.branding__right-side ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0;
}

.branding__right-side ul > li {
  list-style: none;
  padding-bottom: 0.5rem;
  color: var(--home-font-second-color);
}

.branding__right-side ul > li::before {
  position: relative;
  content: url(../assets/icons/checklist-green.svg);
  top: 0.4rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

.favor-products {
  position: relative;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.favor-products h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.favor-products p {
  text-align: center;
  color: var(--home-font-second-color);
  font-weight: 400;
}

.pricing-table {
  width: 80%;
}

.visit {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.visit h3 {
  font-size: 30px;
  max-width: 23.9631rem;
  text-align: center;
}

.visit p {
  text-align: center;
}

.partnerts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.partnerts .partnerts__title {
  font-size: 35px;
}

.partnerts .partnerts__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.testimonials__title {
  text-align: center;
  max-width: 27.9881rem;
  align-self: center;
  font-size: 35px;
}

.testimonials__decs {
  text-align: center;
  width: 34.6875rem;
  align-self: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.testimonial__customers {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 10rem;
  gap: 1rem;
}

/* Research*/
.testimonial__components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  visibility: hidden;
}

.testimonial__components__dots img {
  width: 6rem;
}

.testimonial__components__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-left img {
  width: 33px;
  cursor: pointer;
}

.btn-right img {
  position: relative;
  width: 80px;
  top: 0.5rem;
  cursor: pointer;
}

.promo-cards {
  position: absolute;
  background: var(--home-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  width: 78vw;
  margin-left: 10rem;
  z-index: 1;
  bottom: -6rem;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
}

.promo-cards span h3 {
  font-size: 35px;
  color: var(--home-font-color);
  max-width: 20rem;
}

.promo-cards span p {
  color: var(--home-font-second-color);
}

.btn-see-promo {
  border: none;
  background: var(--home-btn-color);
  height: 3.75rem;
  width: 15.625rem;
  border-radius: 10px;
  font-weight: 700;
  color: var(--font-third--color);
  filter: drop-shadow(0px 6px 20px rgba(255, 186, 51, 0.4));
  cursor: pointer;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .introduction__text {
    margin-left: 5.5rem;
  }

  .btn-start {
    margin-left: 5.5rem;
  }

  .search {
    right: 2rem;
  }

  .informations-cards {
    position: relative;
    margin-left: 6rem;
    top: -5.5rem;
  }

  .branding {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10rem;
  }

  .pricing-table {
    width: 80%;
  }

  .visit img {
    width: 80%;
  }

  .partnerts__images img {
    max-width: 15%;
  }

  .testimonial__customers {
    padding: 0.5rem 6rem;
  }

  .testimonial__components {
    padding: 0 5.5rem;
  }

  .promo-cards {
    margin-left: 5.5rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .introduction__text {
    margin-left: 4rem;
  }

  .informations-cards {
    position: relative;
    margin-left: 5.2rem;
  }

  .btn-start {
    margin-left: 4rem;
  }

  .partnerts__images img {
    width: 15%;
  }

  .testimonial__customers {
    padding: 0.5rem 6rem;
  }

  .testimonial__components {
    padding: 0 5rem;
  }

  .promo-cards {
    margin-left: 5rem;
  }
}

@media all and (max-width: 480px) {
  .header {
    position: relative;
    justify-content: space-between !important;
    padding: 0 0.5rem;
  }

  .navbar {
    position: absolute;
    justify-content: center;
    top: 4.6rem;
    background: var(--home-bg-color);
    padding: 0.5rem;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border-bottom: 3px solid var(--home-acent-border-color);
  }

  .navbar > a {
    text-decoration: none;
    color: var(--home-font-second-color);
  }

  .header__logo__image img {
    width: 24px;
  }

  .header__logo__init p {
    font-size: 18px;
  }

  .search {
    position: absolute;
    top: 3rem;
    right: 1rem;
  }

  .search input[type="text"] {
    display: none;
  }

  .introduction__text {
    margin-left: 0;
    padding: 0 1.5rem;
  }

  .introduction__text h1 {
    font-size: 25px;
    max-width: 40rem;
  }

  .introduction__text p {
    max-width: 18rem;
    text-align: justify;
  }

  .btn-start {
    margin-left: 1.5rem;
  }

  .informations-cards {
    position: relative;
    max-width: 100%;
    top: -2rem;
    margin-left: 2.6rem;
    padding: 0;
    justify-content: space-around;
  }

  .informations-cards .staff,
  .informations-cards .stores,
  .informations-cards .customers {
    width: fit-content;
    border: none;
    gap: 0.5rem;
    padding: 1rem;
  }

  .informations-cards .staff span p,
  .informations-cards .stores span p,
  .informations-cards .customers span p {
    position: relative;
    font-size: 8px;
    margin: 0;
  }

  .informations-cards .staff img,
  .informations-cards .stores img,
  .informations-cards .customers img {
    width: 20px;
  }

  .branding {
    margin: auto 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .branding__left-side img {
    width: 100%;
  }

  .favor-products h3 {
    font-size: 24px;
    width: 80%;
  }

  .favor-products p {
    padding: 0 0.5rem;
  }

  .pricing-table {
    width: 100%;
  }

  .visit {
    margin: auto 0.5rem;
  }

  .visit h3 {
    font-size: 24px;
    max-width: 23.9631rem;
    text-align: center;
  }

  .visit img {
    width: 80%;
  }

  .partnerts .partnerts__title {
    font-size: 24px;
  }

  .partnerts__images img {
    width: 15%;
  }

  .testimonials__title {
    text-align: center;
    max-width: 20.9881rem;
    align-self: center;
    font-size: 24px;
  }

  .testimonials__decs {
    text-align: center;
    width: 24.6875rem;
    font-size: 16px;
    align-self: center;
  }

  .testimonial__customers {
    padding: 0.5rem 0.5rem;
  }

  .testimonial__components {
    padding: 0 2.5rem;
  }

  .promo-cards {
    justify-content: space-evenly;
    position: absolute;
    margin-left: 2.6rem;
    padding: 1rem;
  }

  .promo-cards span h3 {
    font-size: 18px;
    color: var(--home-font-color);
    max-width: 18rem;
  }
}
