/* || Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* || Root Colors */
:root {
  --login-bg-color: #ffffff;
  --login-btn-color: #ffba33;
  --login-font-color: #6a4029;
  --login-font-second-color: #0b132a;
  --login-font-third-color: #4f5665;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.main {
  /* border: 1px solid darkred; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.main__left-side img {
  /* border: 1px solid darkblue; */
  width: 682px;
}

.main__rigth-side {
  /* border: 1px solid darkgoldenrod; */
  padding: 2.5rem;
  width: 100vw;
}

/* .aside {
  border: 1px solid darkblue;
} */

.header {
  /* border: 1px solid darkorange; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 8.5rem;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.logo__image img {
  /* border: 1px solid darkblue; */
  width: 40px;
}

.logo__init p {
  /* border: 1px solid darkgoldenrod; */
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.sign-up {
  border-radius: 50px;
  background: var(--login-btn-color);
  filter: drop-shadow(0px 6px 20px rgba(255, 186, 51, 0.4));
}

.sign-up button {
  /* border: 1px solid darkblue; */
  border: none;
  background: none;
  padding: 0.6rem 2.6rem;
}

.login {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.login h3 {
  /* border: 1px solid darkgoldenrod; */
  text-align: center;
  padding-top: 3rem;
  font-size: 30px;
  color: var(--login-font-color);
}

.login .form {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.login .form label {
  font-size: 20px;
  font-weight: 700;
  color: var(--login-font-third-color);
}

.form input[type="text"],
.form input[type="password"] {
  outline: none;
  border-radius: 20px;
  padding: 1rem;
  max-width: 31.5625rem;
  border: 1px solid var(--login-font-third-color);
  flex: 1;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border: 1px solid var(--login-btn-color);
}

.sectionPassword {
  /* border: 1px solid darkblue; */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forgot-password {
  cursor: pointer;
}

.forgot-password p {
  color: var(--login-font-color);
  text-decoration: 2px underline var(--login-font-color);
  text-underline-offset: 0.2rem;
  font-weight: 700;
}

.form button.btn-login {
  position: relative;
  border: none;
  padding: 1rem;
  max-width: 31.5625rem;
  border-radius: 20px;
  background: var(--login-btn-color);
  box-shadow: 0px 6px 20px rgba(255, 186, 51, 0.4);
  top: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.btn-google {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  padding-right: 7rem;
}
.btn-google-login {
  /* border: 1px solid darkgreen; */
  position: relative;
  border: none;
  padding-top: 0.2rem;
  max-width: 31.5625rem;
  border-radius: 20px;
  background: none;
  box-shadow: 0px 6px 20px rgba(196, 196, 196, 0.67);
  /* top: 2rem; */
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-bottom: 0.8rem;
  font-size: 17px;
  /* align-self: center; */
}

.btn-google-login::before {
  position: relative;
  content: url(../assets/images/google-logo.svg);
  top: 0.5rem;
  padding-right: 0.5rem;
}

/* .password-toogle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
} */

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-right: 0;
  }

  .main {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2.5rem;
  }

  .main__left-side {
    display: none;
  }

  /* .login {

  } */

  .login h3 {
    padding-top: 1.5rem;
  }

  .login .form {
    padding-top: 1.5rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .header {
    padding-right: 0;
  }

  .main {
    padding-bottom: 2.5rem;
  }

  .main__left-side {
    display: none;
  }

  /* .login {

  } */

  .login h3 {
    padding-top: 1.5rem;
  }

  .login .form {
    padding-top: 1.5rem;
  }

  /* .member-cards span p {

  } */
}

@media all and (max-width: 480px) {
  .header {
    padding-right: 0;
  }

  .main {
    padding-bottom: 2.5rem;
  }

  .main__left-side {
    display: none;
  }

  .sign-up button {
    padding: 0.6rem 1.8rem;
  }

  /* .login {

  } */

  .login h3 {
    padding-top: 1.5rem;
  }

  .login .form {
    padding-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .btn-google {
    padding-left: 0;
    padding-right: 0;
  }
}
