/* || Root Colors */
:root {
  --product-font-color: #6a4029;
  --product-font-fourth-color: #ffffff;
  --product-border-color: #dddddd;
}

.pagination {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.active-pagination-btn {
  margin: 0 0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: var(--product-font-color);
  font-weight: 400;
  border-radius: 4px;
  color: var(--product-font-fourth-color);
}

.pagination-btn {
  margin: 0 0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: var(--product-font-fourth-color);
  font-weight: 400;
  border-radius: 4px;
  color: var(--product-font-color);
  border: 1px solid var(--product-border-color);
}

.pagination-section {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.pagination-btn-next, .pagination-btn-prev {
  /* border: 1px solid darkblue; */
  border: none;
  border-radius: 4px;
  padding: 0.3rem;
  font-size: 12px;
  background-color: var(--product-font-color);
  color: var(--product-font-fourth-color);
  width: 67px;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
  /* .pagination {
    display: none;
  } */
}

@media all and (max-width: 480px) {
  .pagination {
    /* display: none; */
    /* justify-content: center; */
  }

  .pagination-btn,
  .active-pagination-btn {
    width: 1.5rem;
    height: 1.5rem;
  }
}
