/* || Root Colors */
:root {
  --product-font-color: #6a4029;
}

.pagination {
  padding-top: 0.8rem;
  /* border: 1px solid red; */
}

.pagination-component .pagination-link {
  color: var(--product-font-color) !important;
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    justify-content: center;
    padding: 1rem;
  }

  .main__left-side {
    display: none;
  }

  .main__products__header {
    justify-content: center;
  }

  .main__products__header p {
    text-align: center;
    margin: 0;
  }

  .main__products__content {
    margin: 0 !important;
    justify-content: center;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .pagination {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .pagination {
    display: none;
  }
}
