/* || Root Colors */
:root {
  --product-font-color: #6a4029;
  --product-border-color: #dddddd;
  --product-font-fourth-color: #ffffff;
  --product-btn-color: #6a4029;
  --btn-add-promo-bg: #ffba33;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* || Main */
.main {
  /* border: 1px solid darkgoldenrod; */
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 8rem;
}

.main__left-side {
  /* border: 1px solid darkgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 3.5rem;
  border-right: 1px solid var(--product-border-color);
  max-width: 398px;
}

.promo__title {
  /* border: 1px solid darkorange; */
  font-weight: 700;
  font-size: 25px;
  color: var(--product-font-color);
}

.promo__announcement {
  /* border: 1px solid darkred; */
  text-align: center;
  font-size: 12px;
  max-width: 14.4375rem;
}

.btn-coupon {
  /* border: 1px solid darkblue; */
  background: var(--product-btn-color);
  color: var(--product-font-fourth-color);
  padding: 0.8rem 5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.btn-add-promo {
  /* border: 1px solid darkblue; */
  background: var(--btn-add-promo-bg);
  color: var(--product-btn-color);
  padding: 0.8rem 5rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

/* .terms-and-condition {
  border: 1px solid darkgoldenrod;
} */

.terms-and-condition h3,
.terms-and-condition p {
  /* border: 1px solid darkgoldenrod; */
  font-size: 12px;
  margin: 0.2rem;
}

.main__right-side {
  /* border: 1px solid darkmagenta; */
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.main__products__content {
  /* border: 1px solid darkblue; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  min-height: 40.075rem;
}

.sorting-and-pagination {
  /* border: 1px solid darkblue; */
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.link-btn-new-product {
  text-decoration: none;
}

.btn-new-product {
  /* border: 1px solid darkblue; */
  display: flex;
  justify-content: center;
}

.btn-new-product button {
  padding: 0.8rem 8rem;
  border: none;
  border-radius: 10px;
  background: var(--product-btn-color);
  font-weight: 700;
  color: var(--product-font-fourth-color);
  outline: none;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    justify-content: center;
    padding: 1rem;
  }

  .main__left-side {
    display: none;
  }

  .main__products__content {
    margin: 0 !important;
    justify-content: center;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .main {
    justify-content: center;
    padding: 2rem 1rem;
  }

  .main__left-side {
    display: none;
  }

  .main__products__content {
    margin: 0 !important;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
  }

  .btn-new-product button {
    padding: 0.8rem 5rem;
    border: none;
    border-radius: 10px;
    background: var(--product-btn-color);
    font-weight: 700;
    color: var(--product-font-fourth-color);
    outline: none;
  }
}
