/* || Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* || Root Colors */
:root {
  --product-bg-color: #ffffff;
  --product-font-color: #6a4029;
  --product-font-second-color: #4f5665;
  --product-border-color: #dddddd;
  --product-bg-second-color: #f8f8f8;
  --product-font-third-color: #afb5c0;
  --product-font-fourth-color: #ffffff;
  --product-acent-border-color: #6a4029;
  --product-btn-color: #6a4029;
  --product-promo-card-color: #ffcb65;
  --first-promo-card-layer: #000000;
  --last-promo-card-layer: #895537;
  --btn-add-promo-bg: #ffba33;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* || Main */
.main {
  /* border: 1px solid darkgoldenrod; */
  position: relative;
  display: flex;
  flex-direction: row;
  /* gap: 2rem; */
  padding: 0 8rem;
}

.main__left-side {
  /* border: 1px solid darkgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 3.5rem;
  border-right: 1px solid var(--product-border-color);
}

.promo__title {
  /* border: 1px solid darkorange; */
  font-weight: 700;
  font-size: 25px;
  color: var(--product-font-color);
}

.promo__announcement {
  /* border: 1px solid darkred; */
  text-align: center;
  font-size: 12px;
  max-width: 14.4375rem;
}

.main__promo .promo__card {
  /* border: 1px solid darkgoldenrod; */
  position: relative;
  background: var(--product-promo-card-color);
  height: 29.5rem;
  width: 17.75rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__promo .promo__card::before {
  position: absolute;
  content: "";
  background: var(--last-promo-card-layer);
  width: 284px;
  height: 338px;
  border-radius: 20px;
  left: 2.3rem;
  z-index: -1;
}

.main__promo .promo__card::after {
  position: absolute;
  content: "";
  background: var(--first-promo-card-layer);
  width: 284px;
  height: 400px;
  border-radius: 20px;
  left: 1.2rem;
  z-index: -1;
}

.promo__card img {
  position: relative;
  width: 100.98px;
  height: 100.98px;
  border-radius: 100%;
}

.promo__card p,
.promo__card__decs,
.coupon,
.btn-coupon {
  font-family: "Poppins", sans-serif;
}

.promo__card p {
  /* border: 1px solid darkgreen; */
  font-size: 22px;
  font-weight: 700;
  max-width: 11.25rem;
  text-align: center;
}

.promo__card__decs {
  border-bottom: 2px dashed var(--first-promo-card-layer);
  font-size: 14px;
  text-align: center;
  padding-bottom: 1.5rem;
}
.coupon {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
}

.coupon .coupon__title {
  /* border: 1px solid darkgoldenrod; */
  font-size: 16px;
  font-weight: 400;
}

.coupon .description {
  font-size: 12px;
}

.btn-coupon {
  /* border: 1px solid darkblue; */
  background: var(--product-btn-color);
  color: var(--product-font-fourth-color);
  padding: 0.8rem 5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.btn-add-promo {
  /* border: 1px solid darkblue; */
  background: var(--btn-add-promo-bg);
  color: var(--product-btn-color);
  padding: 0.8rem 5rem;
  border: none;
  border-radius: 8px;
  font-weight: 700;
}

/* .terms-and-condition {
  border: 1px solid darkgoldenrod;
} */

.terms-and-condition h3,
.terms-and-condition p {
  /* border: 1px solid darkgoldenrod; */
  font-size: 12px;
  margin: 0.2rem;
}

.main__right-side {
  /* border: 1px solid darkmagenta; */
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

.main__products__header {
  /* border: 1px solid darkblue; */
  position: relative;
  padding: 0 4.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.favor-products,
.coffee-products,
.non-coffee-products,
.foods,
.Add-on {
  position: relative;
  cursor: pointer;
  color: var(--product-font-third-color);
}

.main__products .main__products__header > p:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background: var(--product-acent-border-color);
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.67);
  cursor: pointer;
}

.main__products .main__products__header > p:hover {
  color: var(--product-font-color);
  font-weight: 700;
}

/* Script temps */
.main__products__header p {
  /* border: 1px solid darkmagenta; */
  position: relative;
  margin: 1rem;
}

.main__products__content {
  /* border: 1px solid darkblue; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  min-height: 40.075rem;
}

.product {
  /* border: 1px solid darkorange; */
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8.1859rem;
  height: 200.07px;
  filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.07));
}

.product img {
  /* border: 1px solid darkblue; */
  position: relative;
  bottom: 1rem;
  width: 105.98px;
  height: 105.98px;
  border-radius: 100%;
  filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.07));
}

.product img:hover {
  position: relative;
  transition: all 0.65s;
  transform: rotateY(20deg) rotateX(30deg);
}

.product .product__name {
  /* border: 1px solid darkblue; */
  position: relative;
  top: 0.4rem;
  max-width: 6rem;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  min-height: 74px;
}

.product .product__price {
  /* border: 1px solid darkgreen; */
  position: relative;
  bottom: 2rem;
  font-size: 14px;
  font-weight: 700;
  color: var(--product-font-color);
}

.sorting-and-pagination {
  /* border: 1px solid darkblue; */
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.pagination {
  padding-top: 0.8rem;
  /* border: 1px solid red; */
}

.pagination-component .pagination-link {
  color: var(--product-font-color) !important;
}

.dropdown-products {
  width: 6rem;
  border: none;
  background: var(--product-btn-color);
  border-radius: 8px;
}

.dropdown-products:hover,
.dropdown-products:active {
  background: var(--product-btn-color) !important;
}

.dropdown-item-products:active {
  background: var(--product-btn-color) !important;
}

.link-btn-new-product {
  text-decoration: none;
}

.btn-new-product {
  /* border: 1px solid darkblue; */
  display: flex;
  justify-content: center;
}

.btn-new-product button {
  padding: 0.8rem 8rem;
  border: none;
  border-radius: 10px;
  background: var(--product-btn-color);
  font-weight: 700;
  color: var(--product-font-fourth-color);
  outline: none;
}

/* || Responsive */

@media all and (min-width: 768px) and (max-width: 1024px) {
  .main {
    justify-content: center;
    padding: 1rem;
  }

  .main__left-side {
    display: none;
  }

  .main__products__header {
    justify-content: center;
  }

  .main__products__header p {
    text-align: center;
    margin: 0;
  }

  .main__products__content {
    margin: 0 !important;
    justify-content: center;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .main__products__header p {
    text-align: center;
    margin: 0;
  }

  .sorting {
    display: none;
  }

  .pagination {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .main {
    justify-content: center;
    padding: 2rem 1rem;
  }

  .main__left-side {
    display: none;
  }

  .main__products__header {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0;
    /* margin: 1.5rem; */
    margin: 1rem 0;
  }

  .main__products__header p {
    margin: 0;
  }

  .main__products__content {
    /* border: 1px solid darkblue; */
    margin: 0 !important;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
  }

  .btn-new-product button {
    padding: 0.8rem 5rem;
    border: none;
    border-radius: 10px;
    background: var(--product-btn-color);
    font-weight: 700;
    color: var(--product-font-fourth-color);
    outline: none;
  }

  .sorting {
    display: none;
  }

  .pagination {
    display: none;
  }
}
