/* || Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* || Root Colors */
:root {
  --profile-bg-color: #FFFFFF;
  --profile-btn-color: #FFBA33;
  --profile-font-color: #6A4029;
  --profile-font-second-color: #4F5665;
  --profile-font-third-color: #F8F8F8;
  --profile-font-fourth-color: #AFB5C0;
  --profile-font-fifth-color: #FFFFFF;
  --profile-boder-bottom-color: #000000;
  --profile-accent-color: #FFBA33;
  --profile-acent-border-color:#6A4029;
  --profile-btn-second-color: #6A4029;
  --profile-font-sixth-color:#9F9F9F;
}

/* || Views */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;;
}

/* || Header */
.header {
  /* border: 1px solid darkgoldenrod; */
  height: 6rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  /* border: 1px solid darkblue; */
  font-size: 16px;
}

.navbar > a {
  /* border: 1px solid darkgoldenrod; */
  /* margin: auto 1rem; */
  text-decoration: none;
  color: var(--profile-font-second-color);
}

.search, .avatar, .chat {
  /* border: 1px solid darkblue; */
  cursor: pointer;
}

.search img {
  width: 30px;
}

.avatar {
  border: 3px solid var(--profile-acent-border-color);
  border-radius: 100%;
  filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
  z-index: 1;
}
.avatar img {
  width: 32px;
  border-radius: 100%;
}

/* || Main */
.main {
  /* border: 1px solid darkblue; */
  min-height: fit-content;
  background: url(../assets/images/love-coffee.png) no-repeat center fixed;
  background-size: cover;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.main .title {
  /* border: 1px solid darkblue; */
  width: 100%;
  position: relative;
  font-size: 35px;
  color: var(--profile-font-fifth-color);
  padding-left: 13.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.identity-user {
  /* border: 1px solid darkblue; */
  position: relative;
  padding-bottom: 2.5rem;
  width: 100%;
}

.identity-user .profile {
  position: relative;
  /* border: 1px solid darkblue; */
  background: var(--profile-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  gap: 0.5rem;
  border-radius: 10px;
}

.identity-user .profile::after {
  position: absolute;
  content: "";
  background: var(--profile-acent-border-color);
  height: 9px;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.7);
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  left: 0;
}

.profile .profile__image {
  /* border: 1px solid darkgreen; */
  border-radius: 100%;
}

.profile .btn-profile {
  position: absolute;
  background: var(--profile-font-color);
  border-radius: 100%;
  padding: 1rem;
  width: 16px;
  height: 16px;
  top: 6.5rem;
  right: 5.5rem;
}

.btn-profile img {
  position: relative;
  right: 0.5rem;
  bottom: 0.8rem;
  width: 16px;
  height: 16px;
}


.profile .display-name {
  /* border: 1px solid darkblue; */
  position: relative;
  top: 1rem;
  color: var(--profile-font-sixth-color);
  font-weight: 700;
}

.profile .email {
  /* border: 1px solid darkgoldenrod; */
  color: var(--profile-font-second-color);
}

.profile .status {
  /* border: 1px solid darkgreen; */
  text-align: center;
  position: relative;
  top: 0.5rem;
  color: var(--profile-font-second-color);
}

.identity-user .contacts {
  /* border: 1px solid darkmagenta; */
  position: relative;
  background: var(--profile-bg-color);
  padding-top: 0.5rem;
  width: 50.125rem;
  border-radius: 10px;
}

.identity-user .contacts::after {
  position: absolute;
  content: "";
  background: var(--profile-acent-border-color);
  height: 9px;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.7);
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  left: 0;
} 


.contacts .header-contact {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
}

.identity-user .contacts .header-contact h3 {
  /* border: 1px solid darkblue; */
  margin-top: 0.5rem;
}

.contacts .header-contact .btn-contact {
  background: var(--profile-font-color);
  border-radius: 100%;
  padding: 1rem;
  width: 16px;
  height: 16px;
}

.btn-contact img {
  position: relative;
  right: 0.5rem;
  bottom: 0.8rem;
  width: 16px;
  height: 16px;
}

.contacts .forms {
  /* border: 1px solid darkblue; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}
.forms .mobile-number {
  position: absolute;
  /* right: 17rem; */
  right: 3rem;
}

.forms .email, .forms .mobile-number, .forms .delivery {
  display: flex;
  flex-direction: column;
}

.forms .email input[type=text], .forms .mobile-number input[type=text], .forms .delivery input[type=text] {
  width: 21rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--profile-boder-bottom-color);
}

.identity-detail-user {
  /* border: 1px solid darkorange; */
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 3rem 13rem;
}

.details {
  /* border: 1px solid darkblue; */
  /* display: flex;
  flex-direction: row; */
  position: relative;
  background: var(--profile-bg-color);
  width: 100%;
  height: fit-content;
  padding: 2rem;
  border-radius: 10px;
}

.details::after {
  position: absolute;
  content: "";
  background: var(--profile-acent-border-color);
  height: 9px;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 6px 20px rgba(106, 64, 41, 0.7);
  border-radius: 0px 0px 10px 10px;
  bottom: 0;
  left: 0;
}

.details .header-detail {
  /* border: 1px solid darkgreen; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.details .header-detail .btn-detail {
  /* border: 1px solid darkmagenta; */
  background: var(--profile-font-color);
  border-radius: 100%;
  padding: 1rem;
  width: 16px;
  height: 16px;
}

.btn-detail img {
  position: relative;
  right: 0.5rem;
  bottom: 0.8rem;
  width: 16px;
  height: 16px;
}

.details__left-side {
  /* border: 1px solid darkorchid; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.display-name, .first-name, .last-name {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email label, .mobile-number label, .delivery label, .display-name label, .first-name label, .last-name label {
  color: var(--profile-font-sixth-color);
}

.display-name input[type=text], .first-name input[type=text], .last-name input[type=text] {
  max-width: 20rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--profile-boder-bottom-color);
}

.details__right-side {
  /* border: 1px solid darkgreen; */
  position: absolute;
  top: 4.5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
}

.details__right-side .date label {
  color: var(--profile-font-sixth-color)
}

.details__right-side .date {
  /* border: 1px solid darkkhaki; */
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.details__right-side .date input[type=text] {
  max-width: 20rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--profile-boder-bottom-color);
}

.details__right-side .gender {
  /* border: 1px solid darkkhaki; */
  display: flex;
  flex-direction: column;
}

.details__right-side .gender input[type=radio] {
  width: 16px;
  accent-color: var(--profile-accent-color)
}

.details__right-side .gender input:checked {
  content: url("../assets/icons/radio.svg");
}

.gender span {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
} 

.gender span label {
  color: var(--profile-font-sixth-color);
}

.gender span label:active {
  color: var(--profile-font-color);
  font-weight: 500;
}


/* .details__right-side .gender {
  border: 1px solid darkblue;
} */

.main .buttons {
  /* border: 1px solid darkblue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.buttons p {
  /* border: 1px solid darkblue; */
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--profile-font-fifth-color);
  max-width: 20.625rem;
  text-align: center;
}

.buttons button {
  width: 75%;
  outline: none;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 15px;
}

.btn-save {
  color: var(--profile-font-fifth-color);
  background: var(--profile-btn-second-color);
  font-weight: 700;
}

.btn-cancel {
  background: var(--profile-btn-color);
  color: var(--profile-font-color);
  font-weight: 700;
}

.btn-edit {
  position: relative;
  color: var(--profile-font-color);
  font-weight: 700;
  text-align: left;
}

.btn-edit::after {
  /* border: 1px solid darkgoldenrod; */
  position: absolute;
  content: url(../assets/icons/chevron-left.svg);
  right: 1rem;
}

.btn-log-out {
  position: relative;
  /* border: 1px solid darkblue; */
  color: var(--profile-font-color);
  font-weight: 700;
  text-align: left;
  z-index: 1;
}

.btn-log-out::after {
  /* border: 1px solid darkblue; */
  position: absolute;
  content: url(../assets/icons/chevron-left.svg);
  right: 1rem;
}


/* || Footer */
.footer {
  /* border: 1px solid darkgreen; */
  position: relative;
  padding-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 13.5rem;
  padding-right: 13.5rem;
  padding-bottom: 10rem;
  background: var(--profile-font-third-color);
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

/* .logo__image img {
  border: 1px solid darkblue;
} */

/* || ◬ Issue */
.logo__init p {
  /* border: 1px solid darkgoldenrod; */
  position: relative;
  font-weight: 700;
  font-size: 20px;
  top: 0.5rem;
}

.footer__left-side {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: column;
}

.footer__left-side__init {
  /* border: 1px solid darkorchid; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.descriptions p {
  /* border: 1px solid darkblue; */
  max-width: 21rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--profile-font-second-color);
}

.footer__left-side__medias {
  /* border: 1px solid darkorange; */
  position: relative;
  display: flex;
  flex-direction: row;
  right: 1.2rem;
}

.footer__left-side__medias a {
  /* border: 1px solid darkorchid; */
  line-height: 0;
  width: 3rem;
  
}

.footer__left-side__medias a img {
  position: relative;
  /* border: 1px solid darkcyan; */
  padding-top: 1.5rem;
}

.footer__rigth-side {
  /* border: 1px solid darkgreen; */
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

/* || ◬ Issue */
.footer__rigth-side__products p, .footer__rigth-side__products__engage p {
  /* border: 1px solid darkgoldenrod; */
  font-size: 18px;
  font-weight: 500;
  width: fit-content;
  padding-left: 32px;
}

.footer__rigth-side__products ul li, .footer__rigth-side__products__engage ul li {
  /* border: 1px solid darkblue; */
  list-style: none;
  margin: 1rem auto;
  color:  var(--profile-font-second-color);
}

.copyright {
  /* border: 1px solid darkolivegreen; */
  position: absolute;
  top: 23rem;
  font-weight: 400;
  color: var(--profile-font-fourth-color)
}

/* || Responsive */
@media all and (min-width: 768px) and (max-width: 1024px) {

  .main .title {
    padding-left: 1rem;
    font-size: 30px;
  }

  .identity-user {
    padding: 0 0.5rem;
  }

  .profile .btn-profile {
    right: 3.3rem;
  }

  .forms .email input[type=text], .forms .mobile-number input[type=text], .forms .delivery input[type=text] {
    max-width: 16rem;
  }

  .display-name input[type=text], .first-name input[type=text], .last-name input[type=text] {
    max-width: 14rem;
  }

  .identity-detail-user {
    padding: 3rem 0.5rem;
  }

  .btn-edit::after {
    position: absolute;
    content: url(../assets/icons/chevron-left.svg);
    right: 1rem;
  }

  .btn-log-out::after {
    position: absolute;
    content: url(../assets/icons/chevron-left.svg);
    right: 1rem;
  }

  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

@media all and (min-width: 480px) and (max-width: 768px) {

  .navbar {
    /* border: 1px solid darkblue; */
    display: flex;
    flex-direction: row;
    gap: 1.5rem !important;
  }

  .profile .btn-profile {
    right: 2.8rem;
  }

  .forms .email input[type=text], .forms .mobile-number input[type=text], .forms .delivery input[type=text] {
    max-width: 12rem;
  }

  .display-name input[type=text], .first-name input[type=text], .last-name input[type=text] {
    max-width: 12rem;
  }

  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media all and (max-width: 480px) {

  .header {
    position: relative;
    justify-content: space-between !important;
    padding: 0 0.5rem;
  }

  .navbar {
    position: absolute;
    justify-content: center;
    top: 4.6rem;
    background: var(--profile-bg-color);
    padding: 0.5rem;
    border-radius: 8px;
    z-index: 1;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border-bottom: 3px solid var(--profile-acent-border-color);
  }

  .navbar > a {
    /* border: 1px solid darkgoldenrod; */
    text-decoration: none;
    color: var(--profile-font-second-color);
  }

  .header__btn {
    gap: 1rem !important;
  }

  .main .title {
    padding-top: 2.5rem;
    padding-left: 1rem;
    font-size: 24px;
  }

  .identity-user {
    flex-wrap: wrap;
    padding: 0 0.5rem;
  }

  .identity-detail-user {
    padding: 3rem 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .details__right-side {
    top: 4.3rem;
    right: 4rem;
  }

  .forms .email input[type=text], .forms .mobile-number input[type=text], .forms .delivery input[type=text] {
    max-width: 8rem;
  }

  .display-name input[type=text], .first-name input[type=text], .last-name input[type=text] {
    max-width: 8rem;
  }

  .main .buttons {
    width: 100%;
  }
  
  .footer {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 0.2rem;
  }

  .footer__left-side {
    position: relative;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    padding-left: 2.5rem;
  }

  .logo .logo__image img{
    width: 24px;
  }

  .logo .logo__init p{
    font-size: 18px;
  }

  .descriptions p {
    font-size: 12px;
    max-width: 14rem;
  }

  .footer__rigth-side__products p, .footer__rigth-side__products__engage p {
    font-size: 14px;
  }

  .footer__rigth-side__products ul li, .footer__rigth-side__products__engage ul li {
    font-size: 12px;
  }

  .footer__rigth-side {
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .copyright {
    position: absolute;
    left: 3rem;
    top: 34.2rem;
    font-size: 12px;
  }
}

